body {
    background: #fff;
}

.swagger-ui img {
    content: url('../images/logo.png');
    width: 130px;
    height: auto;
    margin-bottom: -20px;
    margin-top: -20px;
}

.swagger-ui .topbar {
    background: linear-gradient(to right, #fff 15%, #808080 90%);
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border: 2px solid #808080;
}

.swagger-ui .info .title small:last-child {
    background-color: #808080 !important;
}